$darkblue: #00264b;
$white: #fff;
$black: #000;
$lavender: #9678d3;
$indigo: #4a4170;
$turquoise: #4bc9fc;
$blue: #007eff;
$denim: #576896;
$light_gray: #99a0ae;

.darkblue {
  color: $darkblue;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lavender {
  color: $lavender;
}

.indigo {
  color: $indigo;
}

.turquoise {
  color: $turquoise;
}

.blue {
  color: $blue;
}

.denim {
  color: $denim;
}

.light_gray {
  color: $light_gray;
}
