@use "@/styles/colors" as c;

main.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  // width: 100vw;

  div.card {
    border: 1px solid c.$light_gray;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;

    // display: flex;
    flex-flow: column nowrap;
    // align-items: flex-start;
    width: 360px;
    display: flex;

    > div {
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;
      gap: 0.4rem;
    }

    > h3 {
      margin: 0;
      flex-grow: 1;
    }
  }

  > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
  }
}
