@use "@/styles/colors" as c;

button.trigger {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 0;
  background-color: inherit;
  padding: 0.4rem;
  color: c.$white;

  p {
    margin: 0;
  }
}
.menu_popup {
  color: c.$darkblue;
  background-color: c.$white;
  font-family: var(--font-open-sans);
  opacity: 1;
  translate: 0 0;

  display: flex;
  flex-flow: column nowrap;

  box-sizing: border-box;
  position: relative;
  padding-block: 0.25rem;
  outline: 1px solid c.$light_gray;
  border-radius: 0;
  background-color: white;
  transform-origin: var(--transform-origin);
  width: auto;

  transition:
    opacity 0.1s ease-in-out,
    translate 0.1s ease-in-out;
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    pointer-events: none;
    translate: 0 -8px;
  }

  *[role="menuitem"].menu_item {
    padding: 0.4rem;
    font-size: var(--step--3);
    &:not(.wrap) {
      white-space: nowrap;
      max-width: inherit;

      &.truncate {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
