@use "@/styles/colors" as c;
@use "@/styles/responsive" as r;

header.header {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: space-between;

  font-family: var(--font-open-sans);

  font-size: var(--step-0);

  @include r.responsive("mobile") {}

  >section {
    align-items: center;
    padding: 0.6rem 2.4rem;
    display: flex;
    // flex-grow: 1;
    justify-content: space-between;
    font-size: var(--step--2);
    margin-inline: auto;
    width: min(100%, 1200px);

    @include r.responsive("mobile") {
      justify-content: center;
    }

    >a {
      @include r.responsive("mobile") {
        display: flex;
        place-content: center;
      }

      >img {
        display: block;
        // max-width: 100%;
        width: 70%;
        height: auto;

        @include r.responsive("mobile") {
          // width: 80%;
        }
      }
    }

    >div {
      display: flex;
      flex-flow: column wrap;

      @include r.responsive("mobile") {
        display: none;
      }

      >div.buttons {
        display: flex;

        align-content: center;
        justify-content: flex-end;
        gap: 0.4rem;

        >button {
          display: flex;
          padding: 0.4rem;
          border: 0;
          background-color: c.$light_gray;
          height: min-content;

          >svg {
            margin: 0;
            padding: 0;
          }
        }
      }

      >div.contact {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        gap: 0.4rem;

        >button {
          display: flex;
          padding: 0.4rem;
          border: 0;
          background-color: c.$light_gray;
          height: min-content;

          >svg {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  >nav {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.6rem 2rem;

    text-transform: uppercase;

    color: c.$white;
    background-color: c.$darkblue;
    align-items: center;
    justify-content: center;
    position: sticky;

    @include r.responsive("mobile") {
      font-size: var(--step--2);
      padding: 0.2rem 0.8rem;
    }

    button {
      border: 0;
      background-color: inherit;
      padding: 0.4rem;
      height: min-content;

      >svg {
        display: block;
      }
    }
  }
}
